.editlinks-item:hover {
    box-shadow: 0 0 4px #444;
}

.editlinks-button {

    cursor:pointer;
    margin: 0;
    padding:2px;
}

.editlinks-hoverbutton {
    box-shadow: 0 -2px 2px #444444;
    margin: 0;

    -moz-border-radius:3px 3px 0 0 ;
    -webkit-border-radius:3px 3px 0 0 ;
    border-radius:3px 3px 0 0;
    
    background-color:rgba(255, 255, 255, .5);
}



.editlinks-button:hover {
    background-color:rgba(200, 200, 200, .9);
}


.editlinks-staticbutton {

    box-shadow: 0 0 2px #444;
    background-color:rgba(255, 255, 255, .5);

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    margin: 1px 4px;
    display: inline-block;
    vertical-align:middle;
}

